## factors list of a given numbers

In [8]:
def factorlist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end= " ");
        i=i+1;
    return;
    
factorlist(12);

1 2 3 4 6

## print sum of even numbers

In [3]:
def printeven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;
printeven(20)

90

## list in python

In [4]:
list1=[1,2,3,4,5];
#entire list
print(list1);
#list[0]
print(list1[0]);

[1, 2, 3, 4, 5]
1

In [8]:
list2=["saketh","samsung","uma"]
for x in list2:
    print(x,end= " ");

print()    
print(list2[1])

saketh samsung uma
samsung

In [10]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end =" ")
print()
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[::3]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 4, 7, 10]

## list with range function

In [13]:
list1=["saketh","samsung","uma",1];
print(list1);
list1[2]=15;# update the list item
print(list2);
del list1[3];# delete the list item
print(list1);
list1[1]="gitam";
print(list1);
list2=[1,2,3];
print(list2);
print(list1+list2);#concation of both the lists

['saketh', 'samsung', 'uma', 1]
['saketh', 'samsung', 'uma']
['saketh', 'samsung', 15]
['saketh', 'gitam', 15]
[1, 2, 3]
['saketh', 'gitam', 15, 1, 2, 3]

In [14]:
sum(list2)

6

In [17]:
names1 = ['amir','barry','chales','dao']
loc = names1.index("edward")
print(loc)

ValueError: 'edward' is not in list

In [20]:
numbers=[1,2,3,4]
numbers.append([5,6,7,8])
print(len(numbers))
print (numbers)

5
[1, 2, 3, 4, [5, 6, 7, 8]]

In [23]:
list1=["gitam","python","raptor",1,5,"python","python"]
print(list1)
list1.index("python")#finding of index of object in the list
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python', 'python']

## reverse the list

In [27]:
list1=["gitam","python","raptor",1,15,"python","python"]
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
list1.reverse()
print(list1)

['gitam', 'python', 'raptor', 1, 15, 'python', 'python']
['gitam', 'raptor', 1, 15, 'python', 'python']
['python', 15, 1, 'raptor', 'gitam']

## linear search

In [31]:
def linearsearch(a,taritem):
    flag=0;
    for i in range(len(a)):
        if a[i]==taritem:
            flag=1;
            break
    if(flag!=0):
        print("target item is found")
    else:
        print("target item is not found")
a=[16,2,12,6,9,7,1]
linearsearch(a,6)

target item is found

In [8]:
def linearsearchduplicate(a,target):
    flag=0
    for i in range(len(a)):
        if a[i] == target:
            flag=flag+1
            
    print(flag);
a=[9,1,6,1,5,9,15,16]
linearsearchduplicate(a,1)

2

## give input as a list and obtain output as index of target value

In [14]:
def linearexample(a,target):
    flag=0
    for i in range(len(a)):
        if a[i] == target:
            print(i);
        
          
a=[1,5,9,6,5,15,12,5]
linearexample(a,5)#1 4 7

1
4
7

## give a list as input and obtain output as sequence of characaters

In [19]:
def linearexample2(a,target):
    for i in range(len(a)):
        if a[i] == target:
            j=0;
            while j!=i+1:
                print("!",end= " ")
                j=j+1;
            print()
        
          
a=[1,5,9,6,5,15,12,5]
linearexample2(a,5)

! !
! ! ! ! !
! ! ! ! ! ! ! !

## give a list as input and obtain output as the sum of all list items which is perfect multiple of 3 &5

In [23]:
def linearexample3(a):
    sum1=0
    for i in range(len(a)):
        if a[i]%3==0 and a[i]%5==0:
            
            sum1=sum1+a[i]
    return sum1;
a=[15,12,2,9,18,36,30]
print(linearexample3(a))

45

In [37]:
def linearformattoutput(a):
    mult=1
    for i in range(len(a)):
        if i == 0 or i == (len(a)-1):
            print (a[i]);
        else:
            mult=a[i-1]*a[i+1];
            print(mult);
    
    
a=[1,2,3,4,5]
linearformattoutput(a)

1
3
8
15
5

In [43]:
def linearformattoutput(a):
    for i in range(len(a)):
        if i == 0 or i == (len(a)-1):
            print (a[i])
        else:
            if a[i+1]%2==0 and a[i-1]%2==0:
                print(a[i]);
            
a=[1,6,9,5,12,18]
linearformattoutput(a)

1
18

## number to list converstion

In [50]:
def numbertolistconversion(n):
    list=[]
    while n!=0:
        r=n%10
        list.append(r)
        n=n//10
    list.reverse()
    print(list)
        
n= int(input("enter a number"))
numbertolistconversion(n)

enter a number121345
[1, 2, 1, 3, 4, 5]

In [52]:
def numbertolistconversion(n):
    for i in range(len(a)):
        if i>=0:
            print(a[i],end=" ");
a=[1,4,5,6,9]
numbertolistconversion(a)

1 4 5 6 9

In [54]:
def numbertolistconversion2(n):
    for i in range(len(a)):
        if i%2!=0:
            print(a[i],end="");
a=[1,4,5,6,9]
numbertolistconversion2(a)

46

In [65]:
list=[1,2,3,4]
sum(list)

10

In [67]:
def numbertolistconversion3(n):
    list1=[]
    i=0;
    for i in range(len(a)):
        if a[i]%2==0:
            a[i]=a[i]**2;
            print(a[i]);
        else:
            print(a[i]);
a=[1,2,3,4,5]
numbertolistconversion3(a)

1
4
3
16
5