In [4]:
import pandas as pd
a=pd.Series([1,3,4,5,6,7])
print(a)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [5]:
import numpy as np
a1=pd.Series([1,2,3,4,np.nan,6])
print(a1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
dtype: float64

In [11]:
#create a list of dates with in particular range
dates = pd.date_range('20190601',periods=20)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20'],
              dtype='datetime64[ns]', freq='D')

In [13]:
lst = pd.date_range('20190601',periods=20)
print(lst)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
a3=pd.dataframe({'A':1.,
                 'B':pd.timestamp('20190106')
                 'C':pd.series(1,index=list(range(4)),dtype='float32')
                 'D':nd.array([3]*4,dtype='int32'),
                 'E':

In [14]:
import turtle as tt
a1 = tt.Turtle()
tt.forward(100)
tt.done()

AttributeError: module 'turtle' has no attribute 'turtle'